body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,61,1) 22%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
*{
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

form{
    width: 600px;
    border: 2px solid rgb(0, 0, 0);
    padding: 6rem;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    color: aliceblue;
}
h1{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
label{
    color: aliceblue;
    font-size: 18px;
    padding: 10px;
    font-weight: 300px;
}

input{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

button{
    float: right;
    background-color: #00f1dc;
    padding: .5rem;
    color: white;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin-right: 10px;
}
button:hover{
    background-color: white;
    color: black;
}
a{
    float: left;
    margin-left: 10px;
    padding: .5rem;
    text-decoration: none;
}
a:hover{
    color: white;
}

.error{
    background-color: rgb(177, 110, 110);
    color: black;
    padding: 10px;
    width:95%;
    border-radius: 5px;
    margin: 20px auto;

}